h1 {
  font-family: helvetica;
  font-weight: 200;
}

.listing-card {
  margin: auto;
  margin-bottom: 15px;
}

.listing-card a {
  width: 100%;
  display: block;
}

.listing-card a:hover {
  opacity: 0.8;
}

.listing-card img {
  width: 100%;
}

.listing-card .img-detail {
  position: absolute;
  z-index: 100;
  top: 0;
}

.img-notfound {
  height: 200px !important;
  margin-left: 400px;
}