.dropzone {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 60%;
    height: 200px;
    margin: auto;
    text-align: center;
}

.dropzone img {
    width: 100px;
    margin-right: 5px;
}