.nav a {
    font-size: 20px;
    border-right: 1px solid gainsboro;
}

.nav li:last-child a {
    border-right: none;
}

.nav {
    margin-bottom: 20px;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: #dab1b1;
}

.nav-nav {
    background: #4e2d33;
    height: 53px;
    margin-bottom: 50px;
}

.badge {
    border-radius: 0;
}

.lg-btn {
    height: 50px;
}