.nav a {
    font-size: 20px;
    border-right: 1px solid gainsboro;
}

.nav li:last-child a {
    border-right: none;
}

.nav {
    margin-bottom: 20px;
}

.badge {
    border-radius: 0;
}

.lg-btn {
    height: 50px;
}